@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Bold'), local('Inter Bold'),
         url("Inter-Bold.ttf") format("truetype"),
         url("Inter-Bold.woff2") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Medium'), local('Inter Medium'),
         url("Inter-Medium.ttf") format("truetype"),
         url("Inter-Medium.woff2") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Regular'), local('Inter Regular'),
         url("Inter-Regular.ttf") format("truetype"),
         url("Inter-Regular.woff2") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Display";
    src: local('SF Pro Display'),
         url("SF-Pro-Display-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Display";
    src: local('SF Pro Display'),
         url("SF-Pro-Display-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text'),
         url("SF-Pro-Text-Regular.otf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Futura";
    src: local('Futura'),
         url("ag-futura-bold.ttf") format("truetype");
    font-weight: 700;
}