@import "styles/fonts/fonts.css";

@media screen and (min-width: 1440px) {
  header {
    background-color: white;
    width: 1114px;
    height: 56px;
    margin-top: 24px;
    margin-left: 108px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px 0px 24px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  }
  header div:first-child {
    display: none;
  }
  header ol, header ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  header li {
    margin-right: 12px;
    margin-left: 12px;
  }
  header ol a {
    color: black;
    text-decoration: none;
  }
  header ul li {
    color: #2D66EE;
    display: flex;
    align-items: center;
  }
  header ul a {
    text-decoration: none;
  }
  header ul img {
    margin-right: 4px;
  }
  header span {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    color: #2D66EE;
  }
  body {
    background-color: #F2F4F7;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .about-faq {
    width: 100%;
    height: 2222px;
  }
  .about-company {
    position: relative;
    top: 160px;
    left: 108px;
    width: 600px;
    height: 220px;
  }
  .company-description {
    font-family: Arial, Helvetica, sans-serif;
  }
  .company-description h1 {
    color: #101828;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.3264510036px;
    text-align: left;
    width: 550px;
  }
  .company-description span {
    color: #306FF5;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.3264510036px;
    text-align: left;
  }
  .company-description p {
    color: #101828;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.2399999946px;
    text-align: left;
    width: 550px;
  }
  .contact-info {
    position: relative;
    top: 30px;
    width: 676px;
    height: 186px;
    background-color: white;
    border-radius: 12px;
  }
  .contact-info h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.3799999952px;
    text-align: left;
    width: 500px;
    color: #101828;
    position: relative;
    top: 20px;
    left: 20px;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: auto;
    position: relative;
    left: 20px;
    top: 40px;
  }
  .contact-form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .contact-form label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.0780000016px;
    text-align: left;
  }
  .contact-form input {
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.0780000016px;
    text-align: left;
  }
  .contact-form input[type=tel], .contact-form input[type=text] {
    margin-top: 10px;
    border-bottom: 1px solid #D0D5DD;
  }
  .contact-form input[type=submit] {
    background-color: #2D66EE;
    color: white;
    font-size: 12px;
    width: 132px;
    height: 58px;
    border-radius: 8px;
    padding: 11px 24px;
  }
  .comp-mobile-image {
    background-image: url("img/background/group.png");
    position: absolute;
    z-index: -1;
    width: 812px;
    height: 900px;
    top: 0;
    right: 0;
  }
  .about-dev {
    position: absolute;
    top: 900px;
    width: 100vw;
    height: 492px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .dev-description {
    align-self: center;
    margin-left: 100px;
  }
  .dev-description h2 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.3264510036px;
    text-align: left;
  }
  .dev-description div {
    width: 500px;
  }
  .dev-description div h3 {
    font-family: SF Pro Display;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.3799999952px;
    text-align: left;
  }
  .dev-description div span {
    font-family: SF Pro Text;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.2399999946px;
    text-align: left;
  }
  .dev-description div p {
    font-family: SF Pro Text;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4079999924px;
    text-align: left;
  }
  .dev-resources {
    align-self: center;
    margin-left: 100px;
  }
  .dev-resources div {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
  }
  .dev-resources div a {
    font-family: SF Pro Display;
    text-decoration: none;
    color: #1D2939;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3799999952px;
    text-align: left;
  }
  .dev-resources div a:hover {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid #2d66ee;
  }
  footer {
    background-color: #101828;
    width: 85vw;
    height: 222px;
    margin: 0 auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer > div {
    margin: 25px 0px 20px 0px;
  }
  footer span {
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 18px;
  }
  footer p {
    color: white;
    font-family: SF Pro Text;
    font-size: 13px;
    font-weight: 400;
    display: flex;
  }
  .contacts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    width: 100%;
  }
  .contact-column {
    align-self: center;
    justify-self: center;
  }
  .contact-column ul {
    padding: 0;
  }
  .contact-column li {
    color: white;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    align-items: center;
  }
  .contact-column span {
    color: #98A2B3;
    font-size: 14px;
    font-weight: 500;
  }
}/*# sourceMappingURL=style.css.map */